* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
}
html {
    display: flex;
    align-self: center;
    justify-content: center;
    font-family: "SCoreDream";
    font-weight: 400;
    font-size: 62.5%;
    background-color: #292d32;
}
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}
